<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    colors="true"
    processIsolation="false"
    stopOnFailure="true"
    syntaxCheck="false"
    backupGlobals="false"
    backupStaticAttributes="false"
    forceCoversAnnotation="false"
    mapTestClassNameToCoveredClassName="false"
    bootstrap="test-bootstrap.php">

    <php>
        <var name="DB_DSN" value="mysql:host=localhost;dbname=krsteski_experimental;port=5106" />
        <var name="DB_USER" value="root" />
        <var name="DB_PASSWD" value="" />
        <var name="DB_DBNAME" value="mysql" />
    </php>

    <testsuites>
        <testsuite name="model-stock-portfolio">
          <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-html"
             target="_coverage"
             charset="UTF-8"
             yui="true"
             highlight="true"
             lowUpperBound="35"
             highLowerBound="70"/>
   </logging>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
             <file>test-bootstrap.php</file>
             <file>autoload.php</file>
            </exclude>
        </whitelist>
    </filter>

</phpunit>